blinker==1.6.2
build==1.0.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
coverage==7.3.2
docker==6.1.3
flake8==7.0.0
Flask==2.3.3
idna==3.7
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
packaging==23.1
pluggy==1.3.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
PyJWT==2.8.0
pyproject_hooks==1.0.0
pytest==7.4.0
requests==2.32.2
SQLAlchemy==2.0.23
testcontainers-core==0.0.1rc1
testcontainers-postgres==0.0.1rc1
types-psycopg2==2.9.21.20240311
typing_extensions==4.8.0
urllib3==2.1.0
websocket-client==1.6.4
Werkzeug==3.0.3
wrapt==1.16.0
